[bumpversion]
current_version = 2.3.1
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/soulstruct/version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"